body {
  background-color: #eae8e8;
}
nav ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
section p {
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: -10px;
}
.border {
  color: #ffffff;
  padding: 25px;
  border: 1px solid #7c7c7c;
  text-align: center;
  background-image: url("images/ireland-bg.jpg");
}
.green {
  color: #418e4f;
}
img {
  padding: 5px;
  border: 5px solid #7c7c7c;
}

footer .boilerplate {
  border-top: 1px solid #7c7c7c;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}
